<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">{{ "Open Land Use parcel" | translateHs }}</h4>
    </div>
    <div class="modal-body" style="overflow-y: auto">
      <div id="info-offline">
        <table class="table table-striped">
          @if(infoService.parcelDataUpdate$ | async; as data) {
            <description [object]="data.parcel"></description>
          }
        </table>
        <h4>Points of interest in this parcel</h4>
        <table class="table">
          <tbody>
            @if(infoService.parcelDataUpdate$ | async; as data) {
              @for (poi of data.parcel.pois; track $index) {
              <tr>
                <td>
                  <a
                    (click)="$event.preventDefault(); infoService.describePoi(poi)"
                    href="#"
                    >{{ poi.url }}</a
                  >
                  @if (poi.expanded) {
                  <description [object]="poi"></description>
                  }
                </td>
              </tr>
              }
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
